html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
}

#root {
  color: var(--foreground);
  font-family: 'Press Start 2P', cursive;
}

button {
  cursor: pointer;
}

:root {
  --background: #111;
  --foreground: #fff;
}